# Optional overrides
# BDO_BARTERING_SPREADSHEET_ID=1x3FanHwJMYeqroGq_Lo9PFGWW8Drwd5FwywtpLMpC-8
# BDO_BARTERING_WORKSHEET_NAME=Item List
# BDO_BARTERING_CODEX_BASE_URL=https://bdocodex.com/us/
# BDO_BARTERING_CODEX_ORIGIN=https://bdocodex.com
# BDO_BARTERING_DELAY_SECONDS=2
GOOGLE_APPLICATION_CREDENTIALS=
